{% load static %}
<!DOCTYPE html>
<!-- Source Codes By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form in HTML and CSS | CodingNepal</title>
    <link rel="stylesheet" href="{% static "css/loginProjectCss/style.css" %}"
    />
  </head>
  <body>
    <div class="login_form">
      <!-- Login form container -->
      <form action="" method="POST">
        {% csrf_token %}
        <h3>Log in with</h3>

        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}

        <div class="login_option">
          <!-- Google button -->
          <div class="option">
            <a href="#">
              <img src="{% static "logos/google.png" %}" alt="Google" />
              <span>Google</span>
            </a>
          </div>

          <!-- Apple button -->
          <div class="option">
            <a href="#">
              <img src="{% static "logos/apple.png" %}" alt="Apple" />
              <span>Apple</span>
            </a>
          </div>
        </div>

        <!-- Login option separator -->
        <p class="separator">
          <span>or</span>
        </p>

        <!-- Email input box -->
        <div class="input_box">
          <label for="email">Username</label>
          <input
            type="username"
            id="email"
            placeholder="Username"
            name="username"
            required
          />
        </div>

        <!-- Paswwrod input box -->
        <div class="input_box">
          <div class="password_title">
            <label for="password">Password</label>
            <a href="#">Forgot Password?</a>
          </div>

          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            required
          />
        </div>

        <!-- Login button -->
        <button type="submit">Log In</button>

        <p class="sign_up">
          Don't have an account? <a href="register">Sign up</a>
        </p>
      </form>
    </div>
  </body>
</html>
